.largest-courses {
    background-color: $blue-100;
    padding: 60px 0;

    & .container {
        overflow: hidden;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        text-align: center;
    }

    &-card {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 3) - 15px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 20px;
        border-radius: 8px;
        scroll-behavior: smooth;
        scrollbar-width: none;

        & .course-card {
            align-items: center;
            box-shadow: none !important;
        }
    }

    & .slideshow-control {
        margin-top: 40px;
        gap: 10px;

        & .progres {
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: rgb(212, 212, 212);
        }
    }
}

@media (max-width: $xxxl) {
    .largest-courses {
        &-header {
            flex-direction: column;
            gap: 40px;
        }

        &-card {
            grid-auto-columns: calc((100% / 2) - 15px);
        }
    }
}

@media (max-width: $xl) {
    .largest-courses {
        &-card {
            grid-auto-columns: 100%;
        }
    }
}