.button {
    display: flex;
    justify-content: center;
    border: none;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: $text-base;
    font-weight: $font-normal;
    font-family: $font-popins;

    &:hover {
        transition: 0.5s;
        background-color: $brand-100;
    }

}

.button-primary {
    display: block;
    padding: 14px 24px;
    color: $white;
    background-color: $brand-300;

    &:hover {
        background-color: $brand-200;
        color: $brand-300;

    }
}

@media (max-width: $sm) {
    .button-primary {
    }
}